.wrapper{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.img{
    width: 500px;
}
.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}